<div class="card animate__animated animate__fadeIn animate__faster">
  <div class="card-header">
    <h3 class="text-center">Login</h3>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div
          *ngIf="
            loginForm.controls.email.errors?.required &&
            loginForm.controls.email.touched
          "
          class="form-text text-danger"
        >
          This field is required
        </div>
        <div
          *ngIf="
            loginForm.controls.email.errors?.pattern &&
            loginForm.controls.email.touched
          "
          class="form-text text-danger"
        >
          Format is invalid
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
        <div
          *ngIf="
            loginForm.controls.password.errors?.required &&
            loginForm.controls.password.touched
          "
          class="form-text text-danger"
        >
          This field is required
        </div>
        <div>
          <ul class="form-text text-danger list-unstyled">
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 8 characters
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 number
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 lowercase letter
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 uppercase letter
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 of the following symbols
              *._%+-
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
      <p class="form-text mb-0"
        >If you dont have an account just
        <a routerLink="/register">Sign up</a></p
      >
    </div>
  </form>
</div>
