<div class="card">
  <div class="card-header">
    <h3 class="text-center">Register</h3>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div
          *ngIf="
            registerForm.controls.email.errors?.required &&
            registerForm.controls.email.touched
          "
          class="form-text text-danger"
        >
          This field is required
        </div>
        <div
          *ngIf="
            registerForm.controls.email.errors?.pattern &&
            registerForm.controls.email.touched
          "
          class="form-text text-danger"
        >
          Format is invalid
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
        <div
          *ngIf="
            registerForm.controls.password.errors?.required &&
            registerForm.controls.password.touched
          "
          class="form-text text-danger"
        >
          This field is required
        </div>
        <div>
          <ul class="form-text text-danger list-unstyled">
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 8 characters
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 number
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 lowercase letter
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 uppercase letter
            </li>
            <li *ngIf="showStrongPasswordErrorMsgs()">
              Password must be at have at least 1 of the following symbols
              *._%+-
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Confirm Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="passwordRepeat"
        />
        <div
          *ngIf="
            registerForm.controls.passwordRepeat.errors?.required &&
            !registerForm.controls.passwordRepeat.pristine
          "
          class="form-text text-danger"
        >
          This field is required
        </div>
        <div
          *ngIf="
            registerForm.controls.passwordRepeat.errors?.notMatch &&
            registerForm.controls.passwordRepeat.touched
          "
          class="form-text text-danger"
        >
          Passwords must match exactly
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
      <p class="form-text mb-0">
        Have an account?
        <a routerLink="/login"> Sign in</a>
      </p>
    </div>
  </form>
</div>
